[submodule "submodules/articles"]
	path = submodules/articles
	url = git@github.com:ramiboutas/articles.git
[submodule "submodules/pages"]
	path = submodules/pages
	url = git@github.com:ramiboutas/pages.git
[submodule "submodules/static"]
  path = submodules/static
  url = git@github.com:ramiboutas/static.git
